<div class="left-right d-flex">
  
  <div class="left col-6" style="background-color: gold;">
    
    <h1>MIX&TWIST</h1>

    <div class="bottom d-flex">
      <p>Cheers</p>
      <%= link_to new_cocktail_path do%>
        <i class="fas fa-plus add"></i>
      <% end %>
    </div>
  </div>

  <div class="right container col-6" style="background-color: black;">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?cocktail)">
          <%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail-name"%>
        </div>
      <% end %>
    </div>
  </div>

</div>