// Import page-specific CSS files here.
@import "home";

body,a {
  cursor: crosshair;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.left {
  height: 100vh;
  padding: 0px;
  position: fixed;
}

.right {
  position: absolute;
  right: 0;
  padding: 0px 17px;
}

.left h1 {
  position: absolute;
  left: 0px;
  margin: 0;
  color: black;
  font-size: 500px;
  line-height: 380px;
  letter-spacing: -10px;
  transition: left 10s linear;
  inline-size: max-content;
}

.left:hover h1 {
  left: -1220px;
}

.bottom {
  position: fixed;
  top: 60%;
  justify-content: space-between;
  padding: 0px 20px;
  width: 50vw;
}

.bottom p {
  font-size: 17px;
  color: black;
}

.ingredient {
  position: fixed;
  top: 60%;
  justify-content: space-between;
  padding: 0px 20px;
  width: 65vw;
}

.moto {
  position: fixed;
  font-size: 34px !important;
  line-height: initial;
  bottom: 15px;
  left: 30px;
  width: 570px;
}

span::before {
    content: "Cheers";
    animation: animate infinite 3s;
    padding-left: 10px;
}

@keyframes animate {

    0% {
        content: "Cheers";
    }

    20% {
        content: "Prost";
    }

    40% {
        content: "Santé";
    }

    60% {
        content: "乾杯";
    }

    80% {
        content: "Skål";
    }

}

.add {
  position: fixed;
  bottom: 40px;
  right: 52%;
  color: black !important;
  font-size: 35px;
}

.add:hover {
  color: black !important;
  -webkit-animation: tourne 1s;
  -moz-animation: tourne 1s;
  animation: tourne 1s;
}

@-webkit-keyframes tourne {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }
  80% {
    font-size: 38px;
    opacity: 1;
    -webkit-transform: rotate(370deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes tourne {
  0% {
    opacity: 1;
    -moz-transform: rotate(0deg);
  }
  80% {
    font-size: 38px;
    opacity: 1;
    -moz-transform: rotate(370deg);
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(360deg);
  }
}

@keyframes tourne {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  80% {
    font-size: 38px;
    opacity: 1;
    transform: rotate(370deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

.glass {
  position: fixed;
  color: black !important;
  font-size: 300px;
  top: 30%;
  right: 6%;
}

.cards {
  margin-top: 15px;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 1;
  transition: all .3s;
}

.card-category:hover {
  opacity: .9;
  filter: grayscale(0.5);
}

.cocktail-name {
  color: white;
}

.cocktail-name:hover {
  color: white;
}

.tag {
  color: white;
  font-size: 35px;
}

.fa-times {
  padding-left: 20px;
  color: white;
  transition: color 0.2s;
}

.fa-times:hover {
 color: gold;
}

