// Import page-specific CSS files here.
@import "home";

.left {
  height: 100vh;
  padding: 0px;
  position: fixed;
}

.right {
  position: absolute;
  right: 0;
}

.left h1 {
  margin: 0;
  color: black;
  font-size: 500px;
  line-height: 390px;
  letter-spacing: -10px;
}

.bottom {
  position: fixed;
  bottom: 0px;
  justify-content: space-between;
  padding: 0px 20px;
  width: 50vw;
}

.bottom p {
  font-size: 35px;
  color: black;
}

.add {
  position: absolute;
  left: 92%;
  color: black !important;
  font-size: 35px;
}

.add:hover {
  color: black !important;
  -webkit-animation: tourne 1s;
  -moz-animation: tourne 1s;
  animation: tourne 1s;
}

@-webkit-keyframes tourne {
  0% {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: rotate(370deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes tourne {
  0% {
    opacity: 1;
    -moz-transform: rotate(0deg);
  }
  80% {
    opacity: 1;
    -moz-transform: rotate(370deg);
  }
  100% {
    opacity: 1;
    -moz-transform: rotate(360deg);
  }
}

@keyframes tourne {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  80% {
    opacity: 1;
    transform: rotate(370deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

.cards {
  margin-top: 15px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 1;
  transition: opacity .3s;
}

.card-category:hover {
  opacity: .9;
  filter: grayscale(0.3);
}

.cocktail-name {
  color: white;
}

.cocktail-name:hover {
  color: white;
  text-decoration: none;
}

ul {
  margin-top: 30px;
  padding: 0px;
  width: 300px;
  list-style-type: none;
}

.tag {
  margin: 10px 0px;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  background-color: rgba(1,1,1,0.1);
  transition: background 1s;
}

.tag:hover {
  background-color: rgba(1,1,1,0.4);
}

.fas {
  color: gray;
  transition: color 0.2s;
}

.fas:hover {
 color: white;
}

